@font-face {
  font-family: militech;
  src: url(fontes/militech_r_2019-04-13.ttf) format("truetype");
}

.inicio-azul {
  background-color: #4dc1ff;
}

.inicio-vermelho {
  background-color: rgba(255, 19, 19, 0.753);
}

.inicio-verde {
  background-color: rgb(87, 240, 41);
}

.inicio-amarelo {
  background-color: rgb(255, 255, 3);
}

.inicio-marrom {
  background-color: rgba(87, 19, 19, 0.788);
}

.inicio-preto {
  background-color: rgb(98, 184, 206);
}

.page-azul {
  background-image: linear-gradient(to right, #4dc1ff, transparent);
}

.page-vermelha {
  background-image: linear-gradient(
    to right,
    rgba(247, 30, 30, 0.788),
    transparent
  );
}

.page-amarela {
  background-image: linear-gradient(to right, #cefc02d0, transparent);
}

.page-verde {
  background-image: linear-gradient(to right, rgb(19, 241, 19), transparent);
}

.page-marrom {
  background-image: linear-gradient(to right, #7e1d0ccb, transparent);
}

.page-preta {
  background-image: linear-gradient(to right, rgb(98, 184, 206), transparent);
}

div.video {
  padding-bottom: 55%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;
  font-family: militech;
  font-size: 60px;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  text-indent: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  max-width: 300px;
  height: auto;
  display: flex;
  margin: auto;
}

nav {
  text-decoration: none;
  text-indent: 13px;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav a {
  text-decoration: none;
  transition: duration 0.3s;
  border-radius: 5px;
  color: black;
}

nav a:hover {
  color: white;
  background-color: #7120dbcb;
  padding: 3px;
}

main {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
  min-width: 300px;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.644);
}

main p {
  padding: 5px;
  text-align: justify;
  text-indent: 30px;
  line-height: 18.5px;
  font-size: 16px;
}

footer {
  margin: auto;
  text-align: end;
  border-radius: 5px;
  color: black;
  transition-duration: 0.3s;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer a:hover {
  text-decoration: none;
  background-color: #0298fcda;
  color: white;
}
